<app-toolbar></app-toolbar>
<div class="content-section">
  <div class="info-section">
    <mat-card class="card">
      <mat-card-title class="title">Número de cajas</mat-card-title>
      <mat-card-content class="content">{{totalBoxes}}</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title class="title">Cobro mensual</mat-card-title>
      <mat-card-content class="content">{{totalCost | currency}}</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title class="title">Cantidad Mensual</mat-card-title>
      <mat-card-content class="content">$450.00</mat-card-content>
    </mat-card>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Fecha de recogida </th>
      <td mat-cell *matCellDef="let element"> {{element.time | date: 'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Estatus </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="boxes">
      <th mat-header-cell *matHeaderCellDef> Núm. de cajas </th>
      <td mat-cell *matCellDef="let element"> {{element.boxes}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Costo total </th>
        <td mat-cell *matCellDef="let element"> {{element.cost | currency}} </td>
      </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <mat-icon class="icon" (click)="onDetailClick(element)">remove_red_eye</mat-icon> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
