<mat-toolbar color="primary">
  <span style="cursor: pointer;" (click)="onTitle()">Storage</span>
  <span class="fill"></span>
  <span class="user-text" (click)="toggleVisible()">
    {{name}}
    <div class="options" *ngIf="visible">
      <span class="option" (click)="onConfig()" *ngIf="!isAdmin">Configuración</span>
      <span class="option" (click)="onLogout()">Cerrar sesión</span>
    </div>
  </span>
  <mat-icon style="cursor: pointer;" (click)="toggleVisible()">keyboard_arrow_down</mat-icon>
</mat-toolbar>